### FEPX Configuration File

## Material Parameters

    number_of_phases 2

    phase 1

    crystal_type FCC
    m 0.020
    gammadot_0 1.0
    h_0 391.9d0
    g_0 237.0d0
    g_s0 335.0d0
    m_prime 0.0d0
    gammadot_s0 5.0d10
    n 1.0
    c11 204.6e3
    c12 137.7e3
    c44 126.2e3

    phase 2

    crystal_type BCC
    m 0.020
    gammadot_0 1.0
    h_0 391.9d0
    g_0 237.0d0
    g_s0 335.0d0
    m_prime 0.0d0
    gammadot_s0 5.0d10
    n 1.0
    c11 236.9e3
    c12 140.6e3
    c44 116.0e3

## Deformation History

    def_control_by uniaxial_strain_target

    number_of_strain_steps 7
    
    target_strain 0.005 4 print_data
    target_strain 0.010 4 print_data
    target_strain 0.015 4 print_data
    target_strain 0.020 4 print_data
    target_strain 0.030 4 print_data
    target_strain 0.040 4 print_data
    target_strain 0.050 4 print_data

## Boundary Condition

    boundary_conditions uniaxial_grip

    loading_direction Z
    loading_face Z_MAX

    strain_rate 1e-2

## Printing Results

    print coo
    print strain-el
    print stress
    print forces
    print defrate-eq
    print strain-eq
