*.o
*.a
*.mod
*.x
*~
*.x.dSYM
*.cp* 
*.fn* 
*.ky* 
*.pg* 
*.tp* 
*.vr* 
*.mv*
*.dvi
*.info
*.swp

/lib/libf95/modules
/lib/libparallel/modules_serial
/lib/libparallel/modules_parallel
/src/build/

# Ignore AppleDouble files and Mac .DS_Store files
._*
.DS_Store

# Ignore LaTeX auxilliary files
*.aux
*.log
*.out
*.synctex.gz
*.toc

fepx.pdf

# Ignore sed -e files
VERSIONS-e
*.f90-e
*.texi-e
