### FEPX Configuration File

## Optional Input

    hard_type cyclic_isotropic
    restart on
    load_tol_abs 10.0
    load_tol_rel 0.01

## Material Parameters

    number_of_phases 1

    phase 1

    crystal_type FCC
    m 0.020d0
    gammadot_0 1.0d0
    h_0 375.0d0
    g_0 160.0d0
    g_s0 1000.0d0
    n 1.0d0
    c11 204.6e3
    c12 137.7e3
    c44 126.2e3
    cyclic_a 0.050d0
    cyclic_c 3.50d0

## Deformation History

    def_control_by triaxial_constant_strain_rate

    number_of_csr_load_steps 2

    target_csr_load 0.0 0.0 230.0 2.5 0.25 print_data
    target_csr_load 0.0 0.0   0.0 2.5 0.25 print_data

## Boundary Condition

    boundary_conditions triaxial

    loading_direction Z

    strain_rate 1e-4

## Printing Results

    print defrate-pl-eq
    print slip
    print sliprate
    print coo
    print restart
