### FEPX Configuration File

## Material Parameters

    number_of_phases 1

    phase 1
    
    crystal_type FCC
    m 0.05
    gammadot_0 1.0
    h_0 200.0d0
    g_0 210.0d0
    g_s0 330.0d0
    m_prime 5.0e-3
    gammadot_s0 5.0e10
    n 1.0
    c11 245.0e3
    c12 155.0e3
    c44 62.50e3

## Deformation History

    def_control_by uniaxial_strain_target

    number_of_strain_steps 4

    target_strain 0.005 4 print_data
    target_strain 0.010 4 print_data
    target_strain 0.015 2 print_data
    target_strain 0.020 2 print_data

## Boundary Condition

    boundary_conditions uniaxial_grip

    loading_direction Z
    loading_face Z_MAX

    strain_rate 1e-2

## Printing Results

    print coo
    print strain-el
    print stress
    print forces

