### FEPX Configuration File

## Optional Input

    load_tol_abs 10.0
    load_tol_rel 0.01

## Material Parameters

    number_of_phases 1

    phase 1

    crystal_type HCP
    m 0.010d0
    gammadot_0 1.0d0
    h_0 190.0d0
    g_0 390.0d0 468.0d0 663.0d0
    g_s0 530.0d0
    n 1.0d0
    c11 1.6966e5
    c12 0.8866e5
    c13 0.6166e5
    c44 0.4250e5
    c_over_a 1.587d0

## Deformation History

    def_control_by triaxial_constant_strain_rate

    number_of_csr_load_steps 2

    target_csr_load -300.0 0.0 300.0  5.0 0.25 print_data
    target_csr_load -600.0 0.0 600.0 10.0 0.25 print_data

## Boundary Condition

    boundary_conditions triaxial

    loading_direction X

    strain_rate 1e-4

## Printing Results

    print coo
    print disp
    print vel
    print crss
    print defrate
    print defrate-eq
    print defrate-pl
    print defrate-pl-eq
    print elt-vol
    print ori
    print slip
    print sliprate
    print spinrate
    print strain
    print strain-eq
    print strain-el
    print strain-el-eq
    print strain-pl
    print strain-pl-eq
    print stress
    print stress-eq
    print velgrad
    print work
    print work-pl
    print workrate
    print workrate-pl
