### FEPX Configuration File

## Optional Input

    hard_type latent
    load_tol_abs 0.25
    load_tol_rel 0.001

## Material Parameters

    number_of_phases 1

    phase 1

    crystal_type HCP
    m 0.010
    gammadot_0 1.0
    h_0 190.0d0
    g_0 390.0d0
    g_s0 530.0d0
    m_prime 0.1d0
    gammadot_s0 5.0e10
    n 1.0
    c11 1.6966e5
    c12 0.8866e5
    c13 0.6166e5
    c44 0.4250e5

    c_over_a 1.587
    prismatic_to_basal 1.2
    pyramidal_to_basal 1.7

    latent_parameters 1 1.4 1.4 1.4 1.4 1.4 1.4 1.4

## Deformation History

    def_control_by triaxial_constant_strain_rate

    number_of_csr_load_steps 4
    number_of_strain_rate_jumps 1

    target_csr_load	-200.000  0.000 200.000  2.000  0.250 print_data
    target_csr_load	-400.000  0.000 400.000  5.000  0.250 print_data
    target_csr_load	-600.000  0.000 600.000 10.000  0.250 print_data
    target_csr_load	   0.000  0.000   0.000 10.000  0.250 print_data

    strain_rate_jump 3 2e-4

## Boundary Condition

    boundary_conditions triaxial

    loading_direction X

    strain_rate 1e-4

## Printing Results

    print coo
    print strain-pl-eq
    print work-pl
    print forces

