### FEPX Configuration File

## Optional Input

    hard_type cyclic
    load_tol_abs 5.0
    load_tol_rel 0.1
    max_strain_incr 0.002

## Material Parameters

    number_of_phases 2

    phase 1

    crystal_type FCC
    m 0.020
    gammadot_0 1.0
    h_0 391.9d0
    g_0 237.0d0
    g_s0 335.0d0
    m_prime 0.0d0
    gammadot_s0 5.0d10
    n 1.0
    c11 204.6e3
    c12 137.7e3
    c44 126.2e3

    cyclic_parameter_a 0.05
    cyclic_parameter_c 3.5

    phase 2

    crystal_type BCC
    m 0.020
    gammadot_0 1.0
    h_0 391.9d0
    g_0 237.0d0
    g_s0 335.0d0
    m_prime 0.0d0
    gammadot_s0 5.0d10
    n 1.0
    c11 236.9e3
    c12 140.6e3
    c44 116.0e3

    cyclic_parameter_a 0.05
    cyclic_parameter_c 3.5

## Deformation History

    def_control_by triaxial_constant_load_rate

    number_of_clr_load_steps 4
    number_of_dwell_episodes 1

    target_clr_load -37.50 -62.50 100.0 10.0 print_data
    target_clr_load -75.00 -125.0 200.0 25.0 print_data
    target_clr_load -112.5 -187.5 300.0 5.00 print_data
    target_clr_load  0.000  0.000 0.000 10.00 print_data

    dwell_episode 3 500.0 100.0 print_data

## Boundary Condition

    boundary_conditions triaxial

    loading_direction Z

    load_rate 2.0

## Printing Results

    print coo
    print crss
    print strain-eq
    print forces

