### FEPX Configuration File

## Optional Input
    
    restart
    rsctrl_in cycle1.control
    rsfield_base_in cycle1.field

    load_tol_abs 0.25
    load_tol_rel 0.001

## Material Parameters

    number_of_phases 1

    phase 1

    crystal_type FCC
    m 0.020
    gammadot_0 1.0
    h_0 375.0d0
    g_0 160.0d0
    g_s0 1000.0d0
    m_prime 0.0d0
    gammadot_s0 5.0d10
    n 1.0
    c11 204.6e3 
    c12 137.7e3
    c44 126.2e3

## Deformation History

    def_control_by triaxial_constant_strain_rate

    number_of_csr_load_steps 8

    target_csr_load  0.000  0.000  150.000  5.000  0.250 print_data
    target_csr_load  0.000  0.000  300.000  5.000  0.250 print_data
    target_csr_load  0.000  0.000  150.000  5.000  0.250 print_data
    target_csr_load  0.000  0.000    0.000  5.000  0.250 print_data
    target_csr_load  0.000  0.000  200.000  5.000  0.250 print_data
    target_csr_load  0.000  0.000  400.000  5.000  0.250 print_data
    target_csr_load  0.000  0.000  200.000  5.000  0.250 print_data
    target_csr_load  0.000  0.000    0.000  5.000  0.250 print_data

## Boundary Condition

    boundary_conditions triaxial

    loading_direction Z

    strain_rate 1e-4

## Printing Results

    print defrate-pl-eq
    print slip
    print sliprate
    print coo

