### FEPX Configuration File

## Optional Input

    read_phase_from_file
    read_ori_from_file
    run_fiber_average

## Material Parameters

    number_of_phases 2

    phase 1

    crystal_type FCC
    m 0.020
    gammadot_0 1.0
    h_0 391.9d0
    g_0 237.0d0
    g_s0 335.0d0
    m_prime 0.0d0
    gammadot_s0 5.0d10
    n 1.0
    c11 204.6e3
    c12 137.7e3
    c44 126.2e3

    phase 2

    crystal_type BCC
    m 0.020
    gammadot_0 1.0
    h_0 391.9d0
    g_0 237.0d0
    g_s0 335.0d0
    m_prime 0.0d0
    gammadot_s0 5.0d10
    n 1.0
    c11 236.9e3
    c12 140.6e3
    c44 116.0e3

## Deformation History

    def_control_by uniaxial_load_target

    number_of_load_steps 3

    target_load  500 5.0E-2 1.0E-4 print_data
    target_load -500 5.0E-2 1.0E-4 print_data
    target_load    0 5.0E-2 1.0E-4 print_data

## Boundary Condition

    boundary_conditions uniaxial_minimal

    loading_direction Z
    loading_face Z_MAX

    strain_rate 1e-2

## Printing Results

    print forces
    print ori
    print coo
    print defrate-eq
    print work

