### FEPX Configuration File

## Optional Input

    read_phase_from_file
    read_ori_from_file
    run_fiber_average

## Material Parameters

    number_of_phases 2

    phase 1

    crystal_type FCC
    m 0.020d0
    gammadot_0 1.0d0
    h_0 391.90d0
    g_0 200.0d0
    g_s0 335.0d0
    n 1.0d0
    c11 204.6e3
    c12 137.7e3
    c44 126.2e3

    phase 2

    crystal_type BCC
    m 0.020d0
    gammadot_0 1.0d0
    h_0 391.90d0
    g_0 200.0d0
    g_s0 335.0d0
    n 1.0d0
    c11 236.9e3
    c12 140.6e3
    c44 116.0e3

## Deformation History

    def_control_by uniaxial_load_target

    number_of_load_steps 2

    target_load 425.0 0.1 0.01 print_data
    target_load   0.0 0.1 0.01 print_data

## Boundary Condition

    boundary_conditions uniaxial_minimal

    loading_direction Z
    loading_face Z_MAX

    strain_rate 1e-2

## Printing Results

    print forces
    print ori
    print coo
    print defrate-eq
    print work
